{% extends "base.html" %} {% block head %}
<title>Task Master</title>
{% endblock %} {% block body %}

<div class="content">
  <h1 style="text-align: center">Task Master</h1>

  {% if tasks|length < 1 %}
  <h4>no tasks created...</h4>
  {% else %}
  <table class="table">
    <tr>
      <th>Task</th>
      <th>Added</th>
      <th>Action</th>
    </tr>
    {% for task in tasks %}
    <tr>
      <td>{{ task.content }}</td>
      <td>{{ task.date_created.date() }}</td>
      <td>
        <div class="list-group">
          <a
            href="/delete/{{task.id}}"
            class="list-group-item list-group-item-action"
          >
            Delete
          </a>
          <a
            href="/update/{{task.id}}"
            class="list-group-item list-group-item-action"
            >Update</a
          >
        </div>
      </td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
  <form action="/" method="POST">
    <input
      type="text"
      name="content"
      id="content"
      class="form-control"
      placeholder="Enter task here"
    />
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{% endblock %}
